xsd/empleado.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.everis.com/empleado"
            targetNamespace="http://www.everis.com/empleado"
            elementFormDefault="qualified">
 <xsd:element name="empleado">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="id" type="xsd:integer"/>
    <xsd:element name="nombre" type="xsd:string"/>
    <xsd:element name="cargo" type="xsd:string"/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
